.a11y-audio-caption {
  max-width: 450px;
  width: fit-content;
  text-align: center;
  font-size: 1.1rem;
  color: #fefefe;
  background-color: #181c20;
  box-shadow: 0 0 9px 0 #00000088;
  border-radius: 10px;
  padding: 12px 22px;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
}
